<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
</head>
<body>
    <h1>Staff Dashboard</h1>
    <h3>Assigned Treks</h3>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Participants</th>
            
        </tr>
        {% for trek in assigned_treks %}
        <tr>
            <td>{{ trek.id }}</td>
            <td>{{ trek.name }}</td>
            <td>{{ trek.bookings|length }}</td>
            
            
        </tr>
        {%else%}
            <tr>
                <td colspan="3">No assigned treks found.</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('staff.view_assigned_treks') }}">View Assigned Treks</a>
    <br><br>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
</body>
</html>