{% extends "base.html" %}

{% block title %}
Staff Dashboard
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="mb-0">
        Staff Dashboard
    </h2>

</div>




<div class="row mb-4">

    <div class="col-md-4 mb-3">

        <div class="card shadow-sm text-center">

            <div class="card-body">

                <h5>Assigned Treks</h5>

                <h2 class="text-primary">
                    {{ total_assigned }}
                </h2>

            </div>

        </div>

    </div>


    <div class="col-md-4 mb-3">

        <div class="card shadow-sm text-center">

            <div class="card-body">

                <h5>Total Participants</h5>

                <h2 class="text-primary">
                    {{ total_participants }}
                </h2>

            </div>

        </div>

    </div>


    <div class="col-md-4 mb-3">

        <div class="card shadow-sm text-center">

            <div class="card-body">

                <h5>Open Treks</h5>

                <h2 class="text-primary">
                    {{ total_open }}
                </h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}