<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Staff</title>
</head>
<body>
    <h1>Assign Staff </h1>
    <h3> Trek Name: {{ trek.name }}</h3>
    <form method="POST" >
        <label >Select Staff:</label>
        <select name="staff_id" required>
            {% for staff in staff_members %}
                <option value="{{ staff.id }}" {% if trek.assigned_staff_id == staff.id %}selected{% endif %}>{{ staff.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Assign Staff</button>
    
</body>
</html>