<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trek</title>
</head>
<body>
    <h1>Edit Trek</h1>
    <form method="POST">
        <label >Trek Name</label><br>
        <input type="text" name="trek_name" value="{{ trek.name }}" required><br><br>

        <label >Location</label><br>
        <input type="text" name="location" value="{{ trek.location }}" required><br><br>

        <label >Difficulty</label><br>
        <select name="difficulty">

            <option value="Easy"{% if trek.difficulty == "Easy" %}selected{% endif %}>Easy</option>

            <option value="Moderate"{% if trek.difficulty == "Moderate" %}selected{% endif %}>Moderate</option>

            <option value="Hard"{% if trek.difficulty == "Hard" %}selected{% endif %}>Hard</option>
        </select><br><br>

        <label >Duration</label><br>
        <input type="number" name="duration" value="{{ trek.duration }}" required><br><br>

        <label >Available Slots</label><br>
        <input type="number" name="available_slots" value="{{ trek.available_slots }}"required><br><br>

        <label>Start Date</label><br>
        <input type="date" name="start_date" value="{{ trek.start_date }}" required><br><br>

        <label>End Date</label><br>
        <input type="date" name="end_date" value="{{ trek.end_date }}" required><br><br>    

       

        <label>Status</label><br>
        <select name="status" required>
            <option value="Upcoming" {% if trek.status == "Upcoming" %} selected {% endif %}>Upcoming</option>
            <option value="Open"  {% if trek.status == "Open" %} selected {% endif %}>Open</option>
            <option value="Closed" {% if trek.status == "Closed" %} selected {% endif %}>Closed</option>
            <option value="Completed" {% if trek.status == "Completed" %} selected {% endif %}>Completed</option>


        </select>
        <br><br>

        <button type="submit">Update Trek</button>
    </form>
</body>
</html>