{% extends "base.html" %}

{% block title %}
User Dashboard
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="mb-0">
        User Dashboard
    </h2>

</div>




<div class="row mb-4">

    <div class="col-md-6 mb-3">

        <div class="card shadow-sm text-center">

            <div class="card-body">

                <h5>Available Open Treks</h5>

                <h2 class="text-primary">
                    {{ total_open }}
                </h2>

            </div>

        </div>

    </div>


    <div class="col-md-6 mb-3">

        <div class="card shadow-sm text-center">

            <div class="card-body">

                <h5>My Bookings</h5>

                <h2 class="text-primary">
                    {{ total_bookings }}
                </h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}