<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
</head>
<body>
    <h1>My Bookings</h1>
    <table border="1" cellpadding="8">
        <tr>
            <th>Booking ID</th>
            <th>Trek </th>
            <th>Booking Date</th>
            <th>Status</th>
            <th>Location</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.trek.name }}</td>
            <td>{{ booking.booking_date }}</td>
            <td>{{ booking.booking_status }}</td>
            <td>{{ booking.trek.location }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('user.dashboard') }}">Back to Dashboard</a>
</body>
</html>